body {
  color: #9A9A9A;
  font-family: 'Open Sans', sans-serif;
}

* {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6, span {
  color: #5F5F5F;
}

h6 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  display: flex;
  align-items: center;
}